version: '3.8'

services:
  nextcloud:
    image: nextcloud:latest
    ports:
      - "8088:80"
    volumes:
      - /home/www/NextCloud:/var/www/html
    environment:
      - NEXTCLOUD_ADMIN_USER=admin
      - NEXTCLOUD_ADMIN_PASSWORD=adminpass
    restart: unless-stopped
